
h1 {
  color: #f2f2f2;
}
h1 {
  font-weight: lighter;
}

button {
  
  color: #a41fab
}

h1 {
  border: 5px solid white
}
 
h1{
  border-style: ridge
}

body {
  background-image: url("https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTB8fHxlbnwwfHx8fHw%3D&amp;w=1000&amp;q=80" alt="Space Wallpapers: Free HD Download [500+ HQ] | Unsplash"/>");
}

button {
  border : 10 px solid white 
};

button {
  float left: inherit
};

marquee {
  text-decoration-color : white
}





  
