
h1 {
  color: #f2f2f2;
}
h1 {
  font-weight: lighter;
}

button {
  
  color: #a41fab
}

h1 {
  border: 5px solid white
}
 
h1{
  border-style: ridge
}

body {
  background-image: url("spaceimage1.jpeg");
};

button {
  border : 10 px solid white 
};

button {
  float left: inherit
};

marquee {
  text-decoration-color : white
}





  
